{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<section class="page-section bg-primary text-white mb-0 masthead" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">Hakkımda</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Freelancer, Bootstrap tabanlı, MIT lisanslı ücretsiz bir temadır. Python ve Django ile birleştirerek bu harika portfolyo sitesini oluşturdum.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">İster öğrenci ol, ister profesyonel; projelerini sergilemek için harika bir başlangıç noktası. Kodu indirin, düzenleyin ve yayınlayın!</p></div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#">
                <i class="fas fa-download me-2"></i>
                CV İndir!
            </a>
        </div>
    </div>
</section>
{% endblock %}