{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Akif Özdemir - Portfolio</title>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link href="{% static 'portfolio/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<nav>
  <a href="{% url 'home' %}" class="nav-brand">
      {{ profile.full_name|default:"Akif Özdemir" }}
  </a>

  <div class="nav-links">
      <a href="{% url 'home' %}#header">Ana Sayfa</a>
      <a href="{% url 'home' %}#about">Hakkımda</a>
      <a href="{% url 'home' %}#portfolio">Projeler</a>
      <a href="{% url 'home' %}#contact">İletişim</a>
  </div>
</nav>

{% block content %}
{% endblock %}

<footer>
  © 2025 Akif Özdemir · Portfolio
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>